.cart{
    background-color: rgba(255, 153, 0, 0.30);
    padding: 25px;
    position: sticky;
    top: 0;
}

.cart h5{
    text-align: center;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart h6{
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-clear-cart{
    border-radius: 4px;
    background: #FF3030;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Lato;
    font-size: 21px;
    margin: 10px auto;
}