.header{
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
}

nav.header a, span{
    text-decoration: none;
    color: white;
    margin-left: 32px;
}

nav.header a:hover{
    color: orange;
}

