.shops-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px;
}

.btn-procced-order{
    border-radius: 4px;
    background: #FF9900;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Lato;
    margin: 10px auto;
}